//字体图标
@font-face {
  font-family: 'iconfont';  /* project id 432371 */
  src: url('https://at.alicdn.com/t/font_432371_kirufm8y1yr885mi.eot');
  src: url('https://at.alicdn.com/t/font_432371_kirufm8y1yr885mi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_432371_kirufm8y1yr885mi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_432371_kirufm8y1yr885mi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_432371_kirufm8y1yr885mi.svg#iconfont') format('svg');
}
.iconApprover:before{
    content:'\e663';
    display:"inline-block"
}
.iconCoppy:before{
    content:'\e604';
    display:"inline-block"
}
.lookFlow{
	.container{
		padding-bottom:44px;
	}
	.flowStatus{
		border-top:1px solid rgb(77, 169, 235);
		.flowStatus2{
			color:black;
		}
	}
	.flowTitle{
		border-bottom:none;
		.flowTitle1{
			font-size:16px;
		}
	}
	.logArea{
		height:90.8%;
	}
	.flowBottom{
		display:none;
	}
}
.flowMould{
	padding:24px 12px;
	border-top:1px solid rgb(77, 169, 235);
	p{
		line-height:20px;
		position:relative;
		.iconApprover,.iconCoppy{
		  font-family:"iconfont";
		  width:20px;height:20px;
		  color:rgb(38,162,255);
		  position:absolute;
		  top:0px;left:58px;
		}
	}
	.flowChart{
		.flowPeople{
		  text-align:center;
			margin-top:10px;
			display:inline-block;
			vertical-align: middle;
			color:rgb(77, 169, 235);
			border-radius:4px;
			padding:2px 3px;
			line-height:29px;
			.head{
				display:inline-block;
				vertical-align: middle;
				border-radius:50%;
				padding:2px 2px;
				background:#ffac38;
				height:36px;
				width:36px;
				font-size:10px;
				line-height:36px;
				color:#fff;
				text-align:center;
				margin:0 auto;
			}
		}
		img{
			margin:20px 0 3px;
			vertical-align: middle;
		}
	}
	.examine{
		overflow:hidden;
		.flowPeople{
			float:left;
		}
		img{
			float:left;
		}
	}
}
.head{
	display:inline-block;
	border-radius:50%;
	padding:2px 2px;
	height:36px;
	width:36px;
	font-size:6px;
	line-height:36px;
	color:#fff;
	text-align:center;
	margin-left:4px;
}
.flowStatus1{
	vertical-align: middle;
}
